// light
$light-primary-color   : hsla(180, 100%, 90%);
$light-secondary-color : hsla(180, 100%, 90%);
$light-background-color: hsla(180, 100%, 80%, 0.2);
$light-text-color      : black;
$light-highlight-color : #ED6DDE;
// dark
$dark-primary-color    : hsl(240, 50%, 15%);
$dark-secondary-color  :hsl(240, 50%, 80%);
$dark-text-color       : white;