// light
$light-primary-color   : hsl(145, 74%, 70%);
$light-secondary-color : hsl(179, 80%, 29%);
$light-text-color      : black;
// dark
$dark-primary-color    : hsl(240, 50%, 15%);
$dark-secondary-color  :hsl(240, 50%, 80%);
$dark-text-color       : white;