@use 'colors'as *;
@use 'variables'as *;

@mixin styleBody($theme-name) {

  body.theme-#{$theme-name} {
    @content
  }

}

@mixin orientationHeight($height) {
  @media (orientation: landscape) {
    height: calc($height + 5vh);
  }

  @media (orientation: portrait) {
    height: calc($height + 5vw);
  }
}

@mixin orientationSize($size) {
  @media (orientation: landscape) {
    height: calc($size * 1vh);
  }

  @media (orientation: portrait) {
    width: calc($size * 1vw);
  }
}

@mixin boxShadow() {
  box-shadow: -2px 3px 17px -5px hsl(0, 0%, 30%);
}

@mixin boxShadowCard() {
  box-shadow: $box-shadow-card;
}

@mixin boxShadowCardActivated() {
  box-shadow:
    0px 0px .4rem .4rem $light-primary-color,
    inset 0px 0px .4rem .4rem $light-primary-color,
    $box-shadow-card;
}

@mixin boxShadowButton() {
  box-shadow: -2px 2px 10px -2px black;
}

@mixin boxShadowButtonChecked() {
  box-shadow: inset -4px 6px 20px -10px black;
  transform : scale(96%);
  cursor    : auto;
  outline   : none;
}

@mixin boxShadowButtonActive() {
  box-shadow: inset -4px 6px 22px -10px black;
  transform : scale(92%);
  cursor    : auto;
  outline   : none;
}

@mixin outlineOnHover() {
  outline       : .4rem solid $light-secondary-color;
  outline-offset: .1rem;
}