@mixin styleBody($theme-name) {

  body.theme-#{$theme-name} {
    @content
  }

}

@mixin orientationHeight($height) {
  @media (orientation: landscape) {
    height: calc($height + 5vh);
  }

  @media (orientation: portrait) {
    height: calc($height + 5vw);
  }
}

@mixin boxShadow() {
  box-shadow: -2px 3px 17px -5px hsl(0, 0%, 30%);
}

@mixin boxShadowCard() {
  box-shadow: -5px 10px 35px -10px hsl(0, 0%, 30%);
}

@mixin boxShadowRainbow() {
  box-shadow:
    5px 5px 15px 5px #FF8080,
    -9px 5px 15px 5px #FFE488,
    -7px -5px 15px 5px #8CFF85,
    12px -5px 15px 5px #80C7FF,
    12px 10px 15px 7px #E488FF,
    -10px 10px 15px 7px #FF616B,
    -10px -7px 27px 1px #8E5CFF,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
}