@use "sass:list";

$round-corner: 10px;
$size-button : 4rem;

// cards
$food-card-height: 46vw;

// spacing
$margin-button    : .3rem;
$padding-container: .9rem;

$box-shadow-card: -5px 10px 35px -10px hsl(0, 0%, 30%);

// cat shape info box
$aspect-ratio-info-box: list.slash(2501, 2069); // aspect-ratio: 2501 / 2069